{% include "plan_man/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail User</title>
</head>
<body>
    <h1>Detail User</h1>
    <table border="1">
        <tr><td>User ID</td><td>{{ request.session.user_id }}</td></tr>
        <tr><td>Name</td><td>{{ name }}</td></tr>
    </table>
    <form method="POST" action="{% url 'plan_man:update_user' %}">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="submit" name="edit" value="Edit">
    </form>


</body>
</html>