{% include "plan_man/header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Plan</title>
</head>
<body>
    <h1>Select Plan</h1>

    <form action="{% url 'plan_man:detail_plan' %}" method="POST" content='text/html; charset=UTF-8'>
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ request.session.user_id }}">
        <label>
            Name:
            <select name="name">
                {% for plan in plan_list %}
                    <option value="{{ plan.name }}">{{ plan.name }}</option>
                {% endfor %}
            </select>
        </label><br>

        <input type="submit">
    </form>
</body>
</html>